# Used Car Price Prediction (XGBoost)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cars_data.csv")

In [4]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [5]:
df = df.dropna()

In [8]:
df["MSRP"] = df["MSRP"].str.replace("$", "")
df["MSRP"] = df["MSRP"].str.replace(",", "")
df["MSRP"] = df["MSRP"].astype("int")

/var/folders/f1/tx70qpk95xz4tb8pp_v48mtm0000gn/T/ipykernel_86378/1920577278.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["MSRP"] = df["MSRP"].str.replace("$", "")

In [22]:
df_new = pd.get_dummies(df, columns= ['Make', 'Model', 'Type', 'Origin', 'DriveTrain'])

In [25]:
X = df_new.drop("MSRP", axis=1)
y = df_new["MSRP"]

In [32]:
X

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,Make_Audi,...,Type_Sedan,Type_Sports,Type_Truck,Type_Wagon,Origin_Asia,Origin_Europe,Origin_USA,DriveTrain_All,DriveTrain_Front,DriveTrain_Rear
0,3.5,6.0,265,17,23,4451,106,189,1,0,...,0,0,0,0,1,0,0,1,0,0
1,2.0,4.0,200,24,31,2778,101,172,1,0,...,1,0,0,0,1,0,0,0,1,0
2,2.4,4.0,200,22,29,3230,105,183,1,0,...,1,0,0,0,1,0,0,0,1,0
3,3.2,6.0,270,20,28,3575,108,186,1,0,...,1,0,0,0,1,0,0,0,1,0
4,3.5,6.0,225,18,24,3880,115,197,1,0,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,2.4,5.0,197,21,28,3450,105,186,0,0,...,1,0,0,0,0,1,0,0,1,0
424,2.3,5.0,242,20,26,3450,105,186,0,0,...,1,0,0,0,0,1,0,0,1,0
425,2.9,6.0,268,19,26,3653,110,190,0,0,...,1,0,0,0,0,1,0,0,1,0
426,1.9,4.0,170,22,29,2822,101,180,0,0,...,0,0,0,1,0,1,0,0,1,0
427,2.5,5.0,208,20,27,3823,109,186,0,0,...,0,0,0,1,0,1,0,1,0,0

In [26]:
y

0      36945
1      23820
2      26990
3      33195
4      43755
       ...
423    40565
424    42565
425    45210
426    26135
427    35145
Name: MSRP, Length: 426, dtype: int64

In [ ]:
import numpy as np

In [42]:
X = np.array(X)
y= np.array(y)

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                   random_state=2)

# Linear Regression

In [45]:
from sklearn.linear_model import LinearRegression

In [48]:
import pickle

# Load the machine learning model from the pickle file
with open('linear_model.pkl', 'rb') as f:
    model = pickle.load(f)

# Make a prediction using the model
prediction = model.predict(X_test)
print(prediction)

[31047.46144789 53764.3585777  53298.78299547 35482.44964184
 20302.06475484 42914.6485347  37900.87494845 26842.31361501
 84023.70527166 31716.57521502 20979.14885762 45414.70484058
 19967.42565189 29659.90221133 29479.78931172 16360.3555207
 21555.13501542 35988.18425661 27137.7833479   7817.76605451
 46569.79983291 36539.1493966  10706.74702399 32646.07642106
 16190.48885346 32351.29907692 34295.63420773 82349.73490429
 73511.09791882 37281.46220116 34192.52721643 14100.02360782
 31344.37960829 36614.64619529 56544.78427928 46102.46060831
 13174.46821883 18892.41594325 24349.54467819 35120.20393932
 61353.02892797 50283.09314691 38060.90080593 13209.89081957
 36278.96633457 54522.82939963 39827.70831874 32992.79952764
 31011.87206802 26552.44080453 31064.5364023  89099.14324858
 64982.01325361 51869.08778467 44585.25174744 38150.12702428
 38060.90080593 56958.35671121 17374.54202955 31851.26366126
 30072.82324538 45599.54616686 39918.16281016 46565.97967819
 29659.90221133 32712.16993739 24525.53722963 13872.69450071
 19143.51145097 42318.03968333 30835.06272154 23526.0075806
 14835.5230334  11887.55771359 14938.97198598 14218.62824207
 37781.39904062 11024.00566364 27350.37321985 19284.6878931
 31519.24130983 19967.42565189  4921.55859514 15140.28856301
 19523.34219998 52004.2505114 ]

In [50]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
score = linear_model.score(X_test, y_test)

In [51]:
print(score)

0.79093062360644

# Decision Tree Regression

In [33]:
from sklearn.tree import DecisionTreeRegressor

In [34]:
dec_model = DecisionTreeRegressor()
dec_model.fit(X_train, y_train)
dec_model.score(X_test, y_test)

0.0724443112231008

# Random Forest Regression

In [36]:
from sklearn.ensemble import RandomForestRegressor

In [37]:
random_model = RandomForestRegressor()
random_model.fit(X_train, y_train)
random_model.score(X_test, y_test)

0.6721834976205683